<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 	<!-- LogCfg, AppSvrNetCfg, and AuthSvrNetCfg modeled from Prof. Ishmael, MSSE672, Regis University -->
 
    <bean id="logCfg" class="com.foodmenuclient.model.services.logservice.LogServer">
		<property name="propFileLocation" value="G:\My Drive\Stanfill_Files\Other_Documents\Zach\Regis University\Graduate\Classes\Programming\my_json_application\config\log4j2.properties"/>
	</bean>

 	<bean id="authSvrNetCfg" class="com.foodmenuclient.model.services.networkservice.NetworkClient">
		<property name="networkPort" value="40008" />
		<property name="networkAddress" value="localhost" />
	</bean>

 	<bean id="appSvrNetCfg" class="com.foodmenuclient.model.services.networkservice.NetworkClient">
		<property name="networkPort" value="40010" />
		<property name="networkAddress" value="localhost" />
	</bean>
        
</beans>